<div class="container-book">
    <mat-card class="card-book">
        <h2>Register</h2>
        <form [formGroup]="formRegister" (ngSubmit)="register()" class="form-book">
            <mat-form-field appearance="outline">
                <mat-label>Prénom</mat-label>
                <input matInput type="text" placeholder="firstname" required formControlName="firstname">
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-label>Nom</mat-label>
                <input matInput type="text" placeholder="lastname" formControlName="lastname" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput type="text" placeholder="username" formControlName="username" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="email" formControlName="email" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Mot de passe</mat-label>
                <input matInput type="password" placeholder="password" formControlName="password" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Confirmation</mat-label>
                <input matInput type="password" placeholder="passwordConfirmation" formControlName="passwordConfirmation" required>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="birthday" formControlName="birthday" >
                <mat-datepicker-toggle matSuffix [for]="birthday" ></mat-datepicker-toggle>
                <mat-datepicker #birthday></mat-datepicker>
              </mat-form-field>
              
            <button mat-raised-button color="primary" type="submit">Register</button>
            </form> 
    </mat-card> 
</div>
