.container-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: #00000024;

    .card-login {
        width: 30%;

        .form-login {
            display: flex;
            flex-direction: column;
        }
    }
}
