.container-book {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90vh;
    justify-content: center;
    background-color: #00000024;

    .card-book {
        width: 30%;

        .form-book {
            display: flex;
            flex-direction: column;
        }
    }
}