<mat-tab-group>
    <mat-tab label="Insert"> 
        <div class="container-book">
            <mat-card class="card-book">
                <h2>Insert Book</h2>
                <form [formGroup]="formBook" (ngSubmit)="insertBook()" class="form-book">
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" placeholder="Name" required formControlName="name">
                    </mat-form-field>
            
                    <mat-form-field appearance="outline">
                        <mat-label>Auteur</mat-label>
                        <input matInput type="text" placeholder="author" formControlName="author" required>
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="submit">Enregistrer</button>
                    </form> 
            </mat-card> 
        </div>
     </mat-tab>
    <mat-tab label="affichage">
        <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </mat-tab>
</mat-tab-group>
  