<mat-toolbar color="primary">
    <mat-toolbar-row class="app-toolbar">
        <div class="app-menu">
            <button mat-icon-button>
                <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
            </button>
            <h1>Es Front</h1>
        </div>
        <div>
            <button mat-icon-button>
                <mat-icon (click)="logout()">directions_walk</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>

            <a mat-list-item [routerLink]="'/accounts'"> Accueil </a>
            <a mat-list-item [routerLink]="'/create-account'"> Produits </a>
            <a mat-list-item [routerLink]="'/contacts'"> Administration </a>
            <a mat-list-item [routerLink]="'/create-contact'"> Nous Contacter </a>
            <a mat-list-item (click)="insertBook()"> insert book </a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: calc(100vh - 64px);">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>