.app-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .app-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
